[Desktop Entry]
Icon=text-html
Name=https://archie-adams.github.io/keyboard-shortcut-map-maker/
Type=Link
URL[$e]=https://archie-adams.github.io/keyboard-shortcut-map-maker/
